*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
  position: relative;
  height: 100%;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
}

a {
  text-decoration: none;
}

.form {
  margin-top: 100px;
}
.form-title {
  text-align: center;
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 23px;
}
.form-text {
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  line-height: 33px;
  margin-bottom: 20px;
}
.form-container .top {
  display: flex;
  position: relative;
  justify-content: space-between;
  margin-top: 10px;
}
.form-container .top-left, .form-container .top-right {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;
}
.form-container .top-left input, .form-container .top-right input {
  padding: 20px;
  width: 35vw;
  border: 4px solid Black;
  box-shadow: 8px 9px 0px #697C9B;
  background-color: #fff;
  font-weight: 900;
  font-size: 16px;
  color: #000;
}
.form-container .textarea {
  display: flex;
  justify-content: center;
}
.form-container .textarea textarea {
  width: 100%;
  height: 25vh;
  padding: 20px;
  border: 4px solid #000;
  box-shadow: 8px 9px 0px #697C9B;
  background-color: #fff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  color: #000;
}
.form-container .sub {
  border: 4px solid #000;
  background-color: #697C9B;
  font-weight: 900;
  font-size: 27px;
  float: right;
  color: #000;
  margin-bottom: 100px;
  margin-top: 20px;
  padding: 15px 35px 15px 35px;
}
.form-container .sub:hover {
  background-color: #fff;
}
.form ::-moz-placeholder {
  color: #000;
}
.form ::placeholder {
  color: #000;
}

html {
  font-size: 16px;
  font-family: "Inter";
  font-style: normal;
}

* {
  box-sizing: border-box;
  transition: all 0.2s linear;
  padding: 0px;
  margin: 0px;
}

.content {
  margin-top: 50px;
  margin-left: 13.304vw;
  margin-right: 13.304vw;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin: 0;
  height: 7vh;
  background-color: Black;
}
.info p {
  font-weight: 900;
  font-size: 1rem;
  line-height: 22px;
  text-align: center;
  color: rgb(105, 124, 183);
}

.header {
  display: flex;
  border-radius: 200px;
  justify-content: space-between;
  align-items: center;
  height: 25vh;
  position: relative;
}
.header img {
  margin-left: 10.304vw;
  width: 250px;
}
.header__menu {
  list-style-type: none;
  display: flex;
  align-items: center;
  width: 40%;
  margin-right: 5vw;
  justify-content: space-around;
}
.header__menu-item {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  line-height: 22px;
  position: relative;
  padding: 0.2rem;
  color: black;
}
.header__menu-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  background-color: rgb(105, 124, 183);
  height: 0.2rem;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
}
.header__menu-item:hover::after {
  width: 100%;
}

.content {
  position: relative;
}

.title {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
}
.title-text {
  font-size: 80px;
  font-weight: 800;
  line-height: 100px;
}
.title-alt {
  width: 45%;
  margin-top: 30px;
  font-weight: 700;
  font-size: 20px;
  line-height: 40px;
}
.title p {
  position: relative;
  margin-bottom: 20px;
}
.title .linia {
  background-color: rgb(105, 124, 183);
  top: 45px;
  position: absolute;
  height: 15px;
  width: 0;
  animation: grow1 0.6s linear forwards;
  z-index: -1;
}
.title .linia2 {
  background-color: rgb(105, 124, 183);
  top: 285px;
  position: absolute;
  height: 15px;
  width: 0;
  animation: grow2 0.6s linear forwards;
  z-index: -1;
}
.title .linia3 {
  background-color: rgb(105, 124, 183);
  top: 165px;
  position: absolute;
  height: 15px;
  width: 0;
  animation: grow3 0.6s linear forwards;
  z-index: -1;
}
@keyframes grow1 {
  to {
    width: 570px;
  }
}
@keyframes grow2 {
  to {
    width: 390px;
  }
}
@keyframes grow3 {
  to {
    width: 520px;
  }
}

.Grid-con .title {
  font-size: 48.03px;
  font-weight: 800;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.Grid-con .grid {
  flex-wrap: wrap-reverse;
  display: grid;
  grid-template-columns: repeat(2, 510px);
  justify-content: space-around;
  align-items: center;
  gap: 60px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.Grid-con .grid .item {
  text-align: center;
  background-color: #697C9B;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid 5px black;
  font-size: 30px;
  box-shadow: 8px 9px 0px #697C9B;
}
.Grid-con .grid img {
  width: 500px;
  height: 300px;
}

.container {
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vh;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
}
.container-title {
  width: -moz-max-content;
  width: max-content;
  font-weight: 900;
  font-size: 27px;
  border: 4px solid #000;
  border-bottom: 0px;
  color: #697C9B;
  padding: 25px;
  text-align: center;
  box-shadow: 8px 9px 0px #697C9B;
}
.container-text {
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 27px;
  background-color: #fff;
  width: 100%;
  font-size: 18px;
  border: 4px solid #000;
  padding: 66px;
  text-align: left;
  box-shadow: 8px 9px 0px #697C9B;
}
.container-ybox {
  width: -moz-max-content;
  width: max-content;
  padding: 10px;
  border: 4px solid #000;
  background-color: #697C9B;
  font-weight: 900;
  font-size: 27px;
  transform: translate(40vw, -35px);
  text-align: center;
}
.container-ybox:hover {
  background-color: #fff;
}

.grid {
  flex-wrap: wrap-reverse;
  display: grid;
  grid-template-columns: repeat(3, 30%);
  justify-content: center;
  gap: 60px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.grid-item {
  padding: 50px;
  height: 25vh;
  border: 4px solid #000;
  box-shadow: 8px 9px 0px #697C9B;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.grid-item .title {
  font-weight: 800;
  font-size: 30px;
  font-weight: 30px;
  text-align: center;
}
.grid-item .text {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.rate {
  display: flex;
  height: 300px;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
}
.rate-title1 {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 40px;
}
.rate-title {
  font-weight: 800;
  font-size: 28px;
}
.rate-text {
  font-size: 20px;
  line-height: 30px;
  width: 50%;
  text-align: center;
}

.video {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  align-items: center;
  gap: 20px;
}/*# sourceMappingURL=global.css.map */